<app-main></app-main>
<div style="text-align: center;">
    <h4> 편지가 궁금하신가여?  </h4>
    <div class="card"></div>
    <div style="margin-top: 100px;">
            <img src="https://user-images.githubusercontent.com/42020919/84669962-6d147580-af60-11ea-8925-7c09a72fe12b.PNG"
                onmouseout="this.src='https://user-images.githubusercontent.com/42020919/84669962-6d147580-af60-11ea-8925-7c09a72fe12b.PNG'"
                onmouseover="this.src='https://user-images.githubusercontent.com/42020919/84667115-e4e0a100-af5c-11ea-99da-37e926982358.PNG'">  
    </div>
</div>