<app-main></app-main>
<div style="text-align: center;">
    <h4>두근두근 선물을 골라주세요 </h4>
    <div class="card"></div>
    <div style="display: inline-flex; width: 70%;  margin-top: 100px;">
        <div class="item">
            <img src="https://user-images.githubusercontent.com/42020919/84655589-2f0d5680-af4c-11ea-8d62-ff8313ce7edc.PNG" (click)="img_click(1)"
                onmouseover="this.src='https://user-images.githubusercontent.com/42020919/84657663-9bd62000-af4f-11ea-8509-8cd9aff4a237.png'"
                onmouseout="this.src='https://user-images.githubusercontent.com/42020919/84655589-2f0d5680-af4c-11ea-8d62-ff8313ce7edc.PNG'">  
        </div>
        <div class="item">
            <img src="https://user-images.githubusercontent.com/42020919/84655589-2f0d5680-af4c-11ea-8d62-ff8313ce7edc.PNG" (click)="img_click(2)"
                onmouseover="this.src='https://user-images.githubusercontent.com/42020919/84657663-9bd62000-af4f-11ea-8509-8cd9aff4a237.png'"
                onmouseout="this.src='https://user-images.githubusercontent.com/42020919/84655589-2f0d5680-af4c-11ea-8d62-ff8313ce7edc.PNG'">  
        </div>        
        <div class="item">
            <img src="https://user-images.githubusercontent.com/42020919/84655589-2f0d5680-af4c-11ea-8d62-ff8313ce7edc.PNG" (click)="img_click(3)"
                onmouseover="this.src='https://user-images.githubusercontent.com/42020919/84657663-9bd62000-af4f-11ea-8509-8cd9aff4a237.png'"
                onmouseout="this.src='https://user-images.githubusercontent.com/42020919/84655589-2f0d5680-af4c-11ea-8d62-ff8313ce7edc.PNG'">  
        </div>
    </div>
</div>