.item{
    flex: 1;
    text-align: center;
}

img{
    width: 200px;
}

h4{
    margin-top: 40px;
    font-family: 'LotteMartHappy';
    margin-top: 40px;
    font-size: 25px;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}