<mat-toolbar color="none">
    <span class="title-center"><a routerLink="/"><img src="https://user-images.githubusercontent.com/42020919/84585451-e91c9980-ae4a-11ea-8220-191c12f3671c.GIF" style="width: 200px;"></a></span>
</mat-toolbar>

<!-- 메뉴 -->
<div style="text-align: center; margin-top: 15px;">
<div style="width: 70%; display: inline-flex; ">
    <div class="menu-item">
        <a routerLink="/gift">GIFT</a>
    </div>
    <div class="menu-item">
        <a routerLink="/letter">LETTER</a>
    </div>
    <div class="menu-item">
        <a routerLink="/camera">CAMERA</a>
    </div>
    <div class="menu-item">
        <a routerLink="/hbd">HBD</a>
    </div>
</div>
</div>

