<mat-toolbar color="none">
    <span class="title-center"><a routerLink="/"><img src="https://user-images.githubusercontent.com/42020919/84585046-5679fb80-ae46-11ea-99c0-75c8078ca978.PNG" style="width: 200px;"></a></span>
</mat-toolbar>

<!-- 메뉴 -->
<div style="text-align: center; margin-top: 15px;">
<div style="width: 70%; display: inline-flex; ">
    <div class="menu-item">
        <a routerLink="/gift">GIFT</a>
    </div>
    <div class="menu-item">
        <a routerLink="/letter">LETTER</a>
    </div>
    <div class="menu-item">
        <a routerLink="/camera">CAMERA</a>
    </div>
    <div class="menu-item">
        <a routerLink="/">HBD</a>
    </div>
</div>
</div>